  <link href="@{'/public/stylesheets/tipuedrop.css'}" rel="stylesheet">
 	<script src="@{'/public/javascripts/tipuedrop.min.js'}"></script>
<script src="@{'/public/javascripts/tipuedrop_content.js'}"></script>
  <span id="right" style="float: right; width: 15%; height: 100%;">
  <div class="panel panel-default">
  <div class="panel-body">
<form action='@{Timeline.busca()}' method='GET'><br><fieldset  data-toggle="tooltip" title="Faça a busca aqui por seus amigos"><p><label for='tipue_drop_input'>Busca</label><input class="form-control" type='text' onfocus='' name="busca" id="tipue_drop_input"  /></fieldset> 
<div id="tipue_drop_content"></div>
</form>
			  #{if amigosSoli}	
				  <a href="@{Timeline.aceitar(amigosSoli)}" style="text-decoration:none;color:#279590;">${amigosSoli.usu_codigo}<img src="@{userPhoto(amigosSoli.usu_codigo)}" width='50' height='60' style='border:2'  />  Aceitar Amizade</a>
    #{/if}
    </div>
 
</div> 
         </span>
           <script type="text/javascript" charset="utf-8">
           $(function () { $("[data-toggle='tooltip']").tooltip(); });
		$(function(){ $("label").inFieldLabels(); });
		$(document).ready(function() {
		     $('#tipue_drop_input').tipuedrop();
		});

			</script>